extends layouts/layoutWithoutHeader.pug

block title
    title BeatingCloud: signup

block content
    div(class="my-6")
        div(class="flex justify-center")
            div(class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6")
                div(class="flex-1")
                    div(class="text-center")
                        h2(class="text-4xl font-bold text-center text-gray-700 dark:text-white") 
                            img(class="mx-auto h-12 w-auto", src="/assets/logo.svg", alt="Workflow")
                            | BeatingCloud
                        p(class="mt-3 text-gray-500 dark:text-gray-300") Unete y disfruta de una experiencia increible

                    div(class="mt-8")
                        if msg
                            div(class="bg-red-200 rounded-lg py-5 px-6 mb-5 text-base text-red-700" role="alert")
                                p #{msg}
                                ul
                                    each error in errors.errors
                                        li=error.msg
                        form(id="submit-form" action="/auth/signup", method="post")
                            div(class="mt-6")
                                label(for="name" class="block mb-2 text-sm text-gray-600 dark:text-gray-200") Nombre
                                input(type="text",id="name", name="name",class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-stone-600 dark:bg-stone-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40", value=user ? user.name : null)
                            div(class="mt-6")
                                label(for="birthday" class="block mb-2 text-sm text-gray-600 dark:text-gray-200") Fecha de cumpleaños
                                input(type="date", id="birthday", name="birthday", class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-stone-600 dark:bg-stone-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40", value=user ? user.birthday : null)
                            div(class="mt-6")
                                label(for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-200") Correo electronico
                                input(type="email", id="email", name="email",class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-stone-600 dark:bg-stone-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40", value=user ? user.email : null)
                            div(class="mt-6")
                                label(for="password" class="block mb-2 text-sm text-gray-600 dark:text-gray-200") Contraseña
                                input(type="password", id="password", name="password", class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-stone-600 dark:bg-stone-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40", value=user ? user.password : null)
                            div(class="mt-6")
                                button(class="w-full inline-block px-6 py-2 border-2 ml-2 border-gray-200 text-gray-200 font-medium text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out")
                                    | Crear cuenta
                        p(class="mt-6 text-sm text-center text-gray-400")
                            | Ya eres uno de nosotros? 
                            a(href="/auth/login" class="text-blue-500 focus:outline-none focus:underline hover:underline") Inicia sesión
    script
        include ../static/js/signup.js